* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}

html, body {
    height: 100%;
    width: 100%;
    overflow: hidden;
    display: flex;
    justify-content: center;
    align-items: center;
    font-family: Arial, sans-serif;
    position: relative;
}

body {
    background-image: url("../img/gif.gif");
    background-size: cover;
    background-position: center;
    background-repeat: no-repeat;
}

body::before {
    content: "";
    position: absolute;
    top: 0;
    left: 0;
    width: 100%;
    height: 100%;
    background-color: rgba(0, 0, 0, 0.705);
    z-index: 0;
}

body.change-background {
    background-image: url("../img/landing-back.gif");
}

.container {
    text-align: center;
    position: relative;
    z-index: 1;
}

.logo img {
    max-width: 100%;
    height: auto;
}

.main-text h1 {
    font-size: 200px;
    margin-top: -50px;
    margin-bottom: 10px;
    color: #ffffff;
}

.main-text h2 {
    font-size: 30px;
    color: #ffffff;
    margin-top: 10px;
}

.learn-more {
    margin-top: 20px;
    padding: 10px 20px;
    background-color: #000;
    color: #fff;
    border: none;
    cursor: pointer;
    font-size: 50px;
    transition: transform 0.3s ease, background-color 0.3s ease;
}

.learn-more:hover {
    transform: scale(1.1);
    background-color: #333;
}
