body {
    margin: 0;
    font-family: Arial, sans-serif;
    color: #fff;
    background-color: #000;
}

header {
    background-color: #000;
    text-align: center;
}

.header-content h1 {
    margin: 0;
    font-size: 220px;
}

nav.sticky-nav {
    background-color: #111;
    color: white;
    padding: 1rem;
    position: sticky;
    top: 0;
    z-index: 1000;
    display: flex;
    justify-content: center;
    border-radius: 50px;
    width: 60%;
    margin: 0 auto;
    box-shadow: 0 4px 8px rgba(0, 0, 0, 0.3);
}

nav.sticky-nav ul {
    list-style: none;
    padding: 0;
    margin: 0;
    display: flex;
    justify-content: center;
}

nav.sticky-nav ul li {
    margin: 0 1rem;
}

nav.sticky-nav ul li a {
    color: white;
    text-decoration: none;
    font-size: 1rem;
}

section {
    padding: 2rem;
    text-align: center;
}

.gallery-section {
    background-color: #000;
}

.gallery-grid {
    display: grid;
    grid-template-columns: repeat(4, 1fr);
    gap: 1rem;
    padding: 2rem;
}

.gallery-item {
    background-color: #444;
    overflow: hidden;
    border: none;
    padding: 0;
    cursor: pointer;
}

.gallery-item img {
    width: 100%;
    height: 100%;
    object-fit: cover;
}

@media (max-width: 768px) {
    .gallery-grid {
        grid-template-columns: repeat(2, 1fr);
    }
}

@media (max-width: 480px) {
    .gallery-grid {
        grid-template-columns: 1fr;
    }
}

.overlay {
    position: fixed;
    top: 0;
    left: 0;
    width: 100%;
    height: 100%;
    background: rgba(0, 0, 0, 0.8);
    display: flex;
    align-items: center;
    justify-content: center;
    visibility: hidden;
    opacity: 0;
    transition: visibility 0s, opacity 0.5s;
}

.overlay img {
    max-width: 90%;
    max-height: 90%;
}

.overlay.visible {
    visibility: visible;
    opacity: 1;
}
